---
base_template: "templates/web.html"
no_cache: 1
skip_frappe_bundle: 1
---

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="d-none d-sm-block secondary-nav">
	<div class="container">
		<div class="row align-items-center">
			<h1 class="col-sm-2 text-lg font-semibold">Compare States</h1>
			<div class="col">
				<div class="secondary-nav-items">
					<a
						id="type-1"
						href="/compare?type=one_indicator"
						class="secondary-nav-link"
					>
						1 Indicator
					</a>
					<a
						id="type-2"
						href="/compare?type=two_indicator"
						class="secondary-nav-link"
					>
						2 Indicators
					</a>
					<a
						id="type-3"
						href="/compare?type=multiple_indicator"
						class="secondary-nav-link"
					>
						3 Indicators
					</a>
					<div class="ml-auto">
						<button class="secondary-nav-link" onclick="shareDialog.show()">
							Share
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="flex flex-col gap-4">
	<div class="flex gap-4">
		<div class="flex-1 flex-shrink-0">
			<sl-select
				name="pillar"
				label="Pillar"
				placeholder="Select Pillar"
				size="small"
				style="min-width: 160px"
				value="{{ selected_pillars | replace(',', ' ') }}"
				{% if comparison_type != "one_indicator" %} multiple {% endif %}
				{% if comparison_type != "one_indicator" %} clearable {% endif %}
			>
				{% for option in pillar_options %}
				<sl-option value="{{ option.value }}">{{ option.label }}</sl-option>
				{% endfor %}
			</sl-select>
		</div>
		<div class="flex-1 flex-shrink-0">
			<sl-select
				name="theme"
				label="Theme"
				placeholder="Select Theme"
				size="small"
				style="min-width: 160px"
				value="{{ selected_themes | replace(',', ' ') }}"
				{% if comparison_type != "one_indicator" %} multiple {% endif %}
				{% if comparison_type != "one_indicator" %} clearable {% endif %}
			>
				{% for option in theme_options %}
				<sl-option value="{{ option.value }}">{{ option.label }}</sl-option>
				{% endfor %}
			</sl-select>
		</div>
		<div class="flex-1 flex-shrink-0">
			<sl-select
				name="indicator"
				label="Indicator"
				placeholder="Select Indicator"
				size="small"
				style="min-width: 160px"
				value="{{ selected_indicators | replace(',', ' ') }}"
				{% if comparison_type !="one_indicator" %} multiple {% endif %}
				{% if comparison_type !="one_indicator" %} clearable {% endif %}
			>
				{% for option in indicator_options %}
				<sl-option value="{{ option.value }}">{{ option.label }}</sl-option>
				{% endfor %}
			</sl-select>
		</div>
		<div class="flex-1 flex-shrink-0">
			<sl-select
				name="state"
				label="State"
				placeholder="Select States"
				size="small"
				style="min-width: 160px"
				value="{{ selected_states | replace(',', ' ') }}"
				{% if comparison_type != "two_indicator" %} multiple {% endif %}
				{% if comparison_type != "two_indicator" %} clearable {% endif %}
			>
				{% for option in state_options %}
				<sl-option value="{{ option.value }}">{{ option.label }}</sl-option>
				{% endfor %}
			</sl-select>
		</div>
		<div class="flex-1 flex-shrink-0">
			<sl-select
				name="ijr"
				label="IJR"
				placeholder="Select IJRs"
				size="small"
				style="min-width: 160px"
				value="{{ selected_ijrs | replace(',', ' ') }}"
				{% if comparison_type == "one_indicator" %} multiple {% endif %}
				{% if comparison_type == "one_indicator" %} clearable {% endif %}
			>
				{% if comparison_type == "one_indicator" %}
				<sl-option value="*">All IJRs</sl-option>
				{% endif %}
				{% for option in ijr_options %}
				<sl-option value="{{ option.value }}">{{ option.label }}</sl-option>
				{% endfor %}
			</sl-select>
		</div>
	</div>
	<div id="chart-container" class="">
		<div class="mb-4 flex justify-between items-center">
			<div>
				<h2 class="text-lg font-semibold">{{ chart_title }}</h2>
			</div>
			<div>
				{% if comparison_type == "one_indicator" %}
				<div class="ml-2 view-switcher">
					<button
						id="line-chart-switcher"
						class="active"
						onclick="changeChartType('line')"
					>
						Line Chart
					</button>
					<button
						id="bar-chart-switcher"
						class=""
						onclick="changeChartType('bar')"
					>
						Bar Chart
					</button>
				</div>
				{% endif %}
			</div>
		</div>
		{% if comparison_type != "multiple_indicator" %}
		<canvas id="chart"> </canvas>
		{% endif %}
		{% if comparison_type == "multiple_indicator" %}
		<table id="comparison-table" class="featured-table" style="width: 100%">
			<thead></thead>
			<tbody></tbody>
		</table>
		{% endif %}
	</div>
</div>

<script>
	window.raw_data = JSON.parse(`{{ data }}`);
</script>
<script src="/compare.js"></script>

<!-- share dialog with twitter and facebook share links -->
<sl-dialog label="Share" id="shareDialog">
	{%- set text = (title + '\n') | urlencode -%}
	<!--  -->
	{%- set url = get_current_url() | urlencode -%}
	<!--  -->
	{%- set links = [ {'label': 'Share on Twitter', 'url':
	"https://twitter.com/intent/tweet?url={url}&text={text}".format(url=url,
	text=text), 'icon': 'twitter'}, {'label': 'Share on Facebook', 'url':
	"https://www.facebook.com/sharer/sharer.php?u={url}".format(url=url), 'icon':
	'facebook'}, {'label': 'Share on WhatsApp', 'url':
	"https://wa.me/?text={text}".format(text=text+url), 'icon': 'whatsapp'}, ] -%}
	<!--  -->
	{%- for link in links -%}
	<!--  -->
	<div class="mb-2">
		<a
			href="{{ link.url }}"
			target="_blank"
			class="accent-link d-inline-flex align-items-center"
			style="gap: 0.5rem"
		>
			<sl-icon name="{{ link.icon }}"></sl-icon>
			{{ link.label }}
		</a>
	</div>
	{%- endfor -%}
</sl-dialog>
