---
base_template: 'templates/web.html'
no_cache: 1
---

{% import "templates/macros.html" as m %}

<div class="title-toolbar">
    <div>
        <div class="d-flex align-items-center">
            <h1 class="mr-2">{{ indicator_name }}</h1>
            <sl-tooltip content="Change Indicator">
                <sl-dropdown>
                    <sl-button slot="trigger" variant="default" size="small">
                        <sl-icon slot="suffix" name="chevron-down"></sl-icon>
                    </sl-button>
                    <sl-menu>
                        {% for pillar, indicators in indicators_by_pillars.items() %}
                        <sl-menu-label>{{ pillar }}</sl-menu-label>
                        {%- for indicator in indicators -%}
                        <sl-menu-item value="{{ indicator.value }}" onclick="window.location.href = '/indicator/{{ indicator.value }}'">
                            {{ indicator.label }}
                        </sl-menu-item>
                        {%- endfor -%}
                        {% endfor %}
                    </sl-menu>
                </sl-dropdown>
            </sl-tooltip>
        </div>
        <div>Score and rank done by overall analysis of scores across pillars</div>
    </div>
    <div class="color-legend-container">
        <div>Best</div>
        <div class="color-legend" style="background-color: var(--best)"></div>
        <div class="color-legend" style="background-color: var(--middle)"></div>
        <div class="color-legend" style="background-color: var(--worst)"></div>
        <div>Worst</div>
    </div>
</div>

<div class="filters-toolbar">
    <div class="flex">
        {{ m.input_select2(
            options=[
                {'label': 'Map View', 'value': 'map'},
                {'label': 'Table View', 'value': 'table'},
            ],
            label='View',
            value=view,
            query='view',
            class='mr-2'
           )
        }}
        {{ m.input_select2(
            options=[
                {'label': 'IJR 1 (2019)', 'value' : '1'},
                {'label': 'IJR 2 (2020)', 'value' : '2'},
                {'label': 'IJR 3 (2022)', 'value' : '3'},
            ],
            label='IJR Number',
            value=ijr_number,
            query='ijr_number',
            class='mr-2'
           )
        }}
        {{ m.input_select2(
            options=[
                {'label': 'All States and Union Territories', 'value' : 'all'},
                {'label': '18 Large and Mid Size States', 'value' : 'large-mid'},
                {'label': '7 Small States', 'value' : 'small'},
            ],
            label='Change Cluster',
            value=cluster,
            query='cluster'
           )
        }}
    </div>
    <sl-button onclick="show_how_to_read()" size="small" variant="text">
        How to read this page?
    </sl-button>
</div>

{%- if view == 'map' -%}
<div class="mt-4">
    <div class="flex justify-between" style="gap: 2rem;">
        <div class="ranking-table-container">
            {%- with state_rankings=indicator_data,
                    score_field='ijr_score',
                    rank_field='ijr_score',
                    delta_field='ijr_score_delta',
                    color_field='ijr_score_color' -%}
            {% include "templates/includes/ranking_table.html" %}
            {%- endwith -%}
        </div>

        <div class="map-container">
            {% set hover_html %}
            <div class="font-size-sm">
                <table class="table-state-rank">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Unit</th>
                            <th>IJR 1</th>
                            <th>IJR 2</th>
                            <th>IJR 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${(raw_data[d.state] || []).map(d => {
                            return `
                                <tr>
                                    <td>${d.raw_data_name}</td>
                                    <td>${d.raw_data_unit}</td>
                                    <td>${d.ijr_1_value}</td>
                                    <td>${d.ijr_2_value}</td>
                                    <td>${d.ijr_3_value}</td>
                                </tr>
                            `
                        }).join('')}
                    </tbody>
                </table>
            </div>
            {% endset %}
            {%- with state_rankings=indicator_data, color_field='ijr_score_color', hover_html=hover_html -%}
            {% include "templates/includes/map_with_hover.html" %}
            {%- endwith -%}
        </div>
    </div>
</div>
{%- endif -%}

{%- if view == 'table' -%}
<div>
    <div class="mt-2 overflow-auto">
        {%- with columns=columns, data=indicator_data -%}
        {% include "templates/includes/featured-table.html" %}
        {%- endwith -%}
    </div>
</div>
{%- endif -%}

<script>
    let raw_data = {{ as_json(raw_data, indent = None) }};
    window.raw_data = raw_data
</script>