---
base_template: 'templates/web.html'
no_cache: 1
skip_frappe_bundle: 1
---

{% import "templates/macros.html" as m %}

{% include "templates/secondary-nav.html" %}

<div class="row">
    <div class="col-sm-2">
        <div class="vertical-nav">
            {% macro sidebar_item(label, value) %}
            <a class="sidebar-nav-item {{ 'active' if indicator.pillar == label else '' }}" href="/indicator?pillar={{ value }}">
                {{ label }}
            </a>
            {% endmacro %}

            {{ sidebar_item('Police', 'police') }}
            {{ sidebar_item('Prisons', 'prisons') }}
            {{ sidebar_item('Judiciary', 'judiciary') }}
            {{ sidebar_item('Legal Aid', 'legal_aid') }}
        </div>
    </div>
    <div class="col">


<div class="title-toolbar">
    <div>
        <div class="d-inline d-md-flex align-items-center">
            <h1>
                <button class="indicator-heading" onclick="indicatorInfoDialog.show()">
                    {{ indicator_name }}
                </button>
            </h1>
        </div>
        <div class="mt-2">
            {{ description }}
        </div>
    </div>

    <div class="d-flex flex-column align-items-end">
        <div class="d-flex mt-4 mt-md-0">
            <button class="change-indicator" onclick="changeIndicatorDialog.show()">
                Change Indicator
            </button>
            <select class="ml-2 cluster-select" name="cluster" query="cluster">
            {%- set cluster_options = [
                {'label': '18 Large and Mid Size States', 'value' : 'large-mid'},
                {'label': '7 Small States' + ('&nbsp;' * 20), 'value' : 'small'},
            ] -%}
            {% for option in cluster_options %}
            <option value="{{ option.value }}" {{ "selected" if option.value == cluster else "" }}>
                {{ option.label }}
            </option>
            {% endfor %}
            </select>

            <div class="ml-2 view-switcher">
                {% for option in [['Map', 'map'], ['Table', 'table']] %}
                <a href="#" query="view={{ option[1] }}" class="{{ 'active' if option[1] == view else '' }}">{{ option[0] }}</a>
                {% endfor %}
            </div>
        </div>
        {{ m.color_legend('d-none d-md-flex mt-2') }}
    </div>
</div>

<sl-dialog label="{{ indicator_name }}" id="indicatorInfoDialog">
    <div>
        {{ description }}
    </div>
</sl-dialog>

{%- if view == 'map' -%}
<div class="mt-6">
    <div class="d-flex flex-column flex-md-row justify-between" style="gap: 2rem;">
        <div class="ranking-table-container">
            {%- with state_rankings=indicator_data,
                    score_field='ijr_score',
                    rank_field='indicator_rank',
                    delta_field='ijr_score_delta',
                    color_field='ijr_score_color',
                    hide_arrows=true -%}
            {% include "templates/includes/ranking_table.html" %}
            {%- endwith -%}
        </div>

        {{ m.color_legend(class='d-md-none') }}

        <div class="map-container">
            {% set hover_html %}
            <div class="font-size-sm">
                <h3>${d.state}</h3>
                <p>${d.pillar}: ${d.indicator_name}</p>
                <table class="mt-2 table-indicator-raw-data">
                    <thead>
                        <tr>
                            <th>Metric</th>
                            <th>Unit</th>
                            <th class="text-right">IJR 1</th>
                            <th class="text-right">IJR 2</th>
                            <th class="text-right">IJR 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${(raw_data[d.state] || []).map(d => {
                            return `
                                <tr>
                                    <td>${d.raw_data_name}</td>
                                    <td>${d.raw_data_unit}</td>
                                    <td class="text-right">${d.ijr_1_value}</td>
                                    <td class="text-right">${d.ijr_2_value}</td>
                                    <td class="text-right">${d.ijr_3_value}</td>
                                </tr>
                            `
                        }).join('')}
                    </tbody>
                </table>
            </div>
            {% endset %}
            {%- with state_rankings=indicator_data, color_field='ijr_score_color', hover_html=hover_html -%}
            {% include "templates/includes/map_with_hover.html" %}
            {%- endwith -%}
        </div>
    </div>
</div>
{%- endif -%}

{%- if view == 'table' -%}
<div class="mt-6">
    {{ m.featured_table_help_text() }}
</div>
<div class="featured-table-container">
    <div>
        {%- with columns=columns, data=indicator_data -%}
        {% include "templates/includes/featured-table.html" %}
        {%- endwith -%}
    </div>
</div>
{%- endif -%}

</div>
</div>

<script>
    let raw_data = {{ as_json(raw_data, indent = None) }};
    window.raw_data = raw_data
</script>