---
base_template: 'templates/web.html'
no_cache: 1
skip_frappe_bundle: 1
---

{% import "templates/macros.html" as m %}

{% include "templates/secondary-nav.html" %}

<div class="row">
    <div class="col-sm-2">
        <div class="vertical-nav">
            {% macro sidebar_item(label, value) %}
            <a href="{{ rankings_url(rank_by=value) }}" class="sidebar-nav-item {{ 'active' if rank_by == value else '' }}">{{ label }}</a>
            {% endmacro %}
            {{ sidebar_item('Overall', 'overall') }}
            <span class="sidebar-nav-label">Rank by Pillars</span>
            {{ sidebar_item('Police', 'police') }}
            {{ sidebar_item('Prisons', 'prisons') }}
            {{ sidebar_item('Judiciary', 'judiciary') }}
            {{ sidebar_item('Legal Aid', 'legal_aid') }}
            <span class="sidebar-nav-label">Rank by Themes</span>
            {{ sidebar_item('Human Resources', 'hr') }}
            {{ sidebar_item('Diversity', 'diversity') }}
            {{ sidebar_item('Trends', 'trends') }}
        </div>
    </div>

<div class="col">

<div class="title-toolbar">
    <div>
        <div class="d-inline d-md-flex align-items-center">
            <h1>
                {{ rank_by_title }} Ranking
            </h1>
        </div>
        <div class="d-md-none mt-2">
            {{ description }}
        </div>
    </div>


    <div class="d-flex mt-4 mt-md-0">
        <select class="cluster-select" name="cluster" onchange="window.location.href = this.value">
        {%- set cluster_options = [
            {'label': '18 Large and mid-sized states', 'value' : 'large-states'},
            {'label': '7 Small States' + ('&nbsp;' * 20), 'value' : 'small-states'},
        ] -%}
        {% for option in cluster_options %}
        <option value="{{ rankings_url(cluster=option.value) }}" {{ "selected" if option.value == cluster else "" }}>
            {{ option.label }}
        </option>
        {% endfor %}
        </select>

        <div class="ml-2 view-switcher">
            {%- set options = [
                ['Map', {'view': 'map', 'ijr_number': 3 if ijr_number == 0 else ijr_number }],
                ['Table', {'view': 'table', 'ijr_number': 0 if view == 'map' else ijr_number }]
            ] -%}
            {% for option in options %}
            <a href="{{ rankings_url(**option[1]) }}" class="{{ 'active' if option[1].view == view else '' }}">{{ option[0] }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="d-flex justify-content-between mt-1">
    <div class="d-none d-md-block">
        {{ description }}
    </div>
</div>

<div class="flex mt-6">

<div class="w-100">
<!-- Main content -->
{%- if view == 'map' -%}
<div>
    <div class="d-flex flex-column flex-md-row justify-between" style="gap: 2rem;">
        <div class="ranking-table-container">
            {%- with state_rankings=state_rankings,
                    score_field=rank_by + '_score',
                    rank_field=rank_by + '_rank',
                    delta_field=rank_by + '_rank_delta',
                    color_field=rank_by + '_rank_color' -%}
            {% include "templates/includes/ranking_table.html" %}
            {%- endwith -%}
        </div>

        <div class="map-container">
            {{ m.color_legend(class='position-absolute right-0') }}
            {% set hover_html %}
            <div>
                {% set max_rank = '18' if cluster == 'large-states' else '7' %}
                <div class="mb-3">
                    <h3>${d.state}</h3>
                    <div class="font-size-xs text-muted">Ranks (out of {{ max_rank }})</div>
                </div>
                <div class="info-box-score mb-3">
                    <div>Overall</div>
                    <div>${d.overall_rank}</div>
                </div>
                <div class="info-box-label mb-2">
                    Pillars
                </div>
                <div class="info-box-score border-bottom">
                    <div>Police</div>
                    <div>${d.police_rank}</div>
                </div>
                <div class="info-box-score border-bottom">
                    <div>Prisons</div>
                    <div>${d.prisons_rank}</div>
                </div>
                <div class="info-box-score border-bottom">
                    <div>Judiciary</div>
                    <div>${d.judiciary_rank}</div>
                </div>
                <div class="info-box-score">
                    <div>Legal Aid</div>
                    <div>${d.legal_aid_rank}</div>
                </div>
                <div class="info-box-label mt-3 mb-2">
                    Ranked Themes
                </div>
                <div class="info-box-score border-bottom">
                    <div>Human Resources</div>
                    <div>${d.hr_rank}</div>
                </div>
                <div class="info-box-score border-bottom">
                    <div>Diversity</div>
                    <div>${d.diversity_rank}</div>
                </div>
                <div class="info-box-score">
                    <div>Trends</div>
                    <div>${d.trends_rank}</div>
                </div>
            </div>
            {% endset %}
            {%- with state_rankings=state_rankings, color_field=rank_by + '_rank_color', hover_html=hover_html -%}
            {% include "templates/includes/map_with_hover.html" %}
            {%- endwith -%}
        </div>
    </div>
</div>
{%- endif -%}

{%- if view == 'table' -%}
{{ m.featured_table_help_text() }}
<div class="featured-table-container fill-height-scroll">
    {%- if table_view == 'pillars' -%}
    {%- set columns = [
        {
            'label': 'State',
            'id': 'state',
            'width': 250,
            'filter': true,
            'format': '''<a href="/state/${d.region_code}">${d.state}</a>'''
        },
        {
            'label': 'IJR',
            'id': 'ijr_number',
            'align': 'center',
            'width': 80,
            'filter': true,
            'hide_condition': ijr_number != 0
        },
        {
            'label': 'Overall',
            'id': 'overall_rank',
            'align': 'center',
            'width': 100
        },
        {
            'label': 'Police',
            'id': 'police_rank',
            'align': 'center',
            'width': 100
        },
        {
            'label': 'Prisons',
            'id': 'prisons_rank',
            'align': 'center',
            'width': 100
        },
        {
            'label': 'Judiciary',
            'id': 'judiciary_rank',
            'align': 'center',
            'width': 100
        },
        {
            'label': 'Legal Aid',
            'id': 'legal_aid_rank',
            'align': 'center',
            'width': 100
        },
    ] -%}
    {%- elif table_view == 'themes' -%}
    {%- set columns = [
        {
            'label': 'State',
            'id': 'state',
            'width': 250,
            'filter': true
        },
        {
            'label': 'IJR',
            'id': 'ijr_number',
            'align': 'center',
            'width': 80,
            'filter': true,
            'hide_condition': ijr_number != 0
        },
        {
            'label': 'Human Resources',
            'id': 'hr_rank',
            'align': 'center',
            'width': 100
        },
        {
            'label': 'Diversity',
            'id': 'diversity_rank',
            'align': 'center',
            'width': 100
        },
        {
            'label': 'Trends',
            'id': 'trends_rank',
            'align': 'center',
            'width': 100
        }
    ] -%}
    {%- endif -%}


    <div>
        {%- with columns=columns, data=state_rankings, class='w-100' -%}
        {% include "templates/includes/featured-table.html" %}
        {%- endwith -%}
    </div>
</div>
{%- endif -%}

</div>

</div>

</div>

</div>
