#india-map path {
    opacity: 0.5;
}

.score-bar {
    width: 200px;
    border-radius: 4px;
    height: 1.5rem;
    background-color: #C9DFDC;
}

.score-bar-value {
    text-align: right;
    padding-right: 0.5rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 1.5rem;
    background-color: #70A9A1;
}

.value-type {
    padding: 0.3rem;
    margin: -0.3rem;
    border: 1px solid var(--dark-green);
}

.dt-dropdown__list-item[data-index="3"] {
    display: none;
}