---
base_template: 'templates/web.html'
no_cache: 1
---

{% import "templates/macros.html" as m %}
<div class="title-toolbar">
    <div>
        <h1>
            {% if rank_by == 'overall' %}
                Overall State Ranking
            {% else %}
                States Ranked by {{ rank_by.title().replace('_', ' ') }} score
            {% endif %}
        </h1>
        <div>Score and rank done by overall analysis of scores across pillars</div>
    </div>
    <div class="color-legend-container">
        <div>Best</div>
        <div class="color-legend" style="background-color: var(--best)"></div>
        <div class="color-legend" style="background-color: var(--middle)"></div>
        <div class="color-legend" style="background-color: var(--worst)"></div>
        <div>Worst</div>
    </div>
</div>

<div class="filters-toolbar">
    <div class="flex">
        {{ m.input_select2(
            options=[
                {'label': 'Map View', 'value': 'map'},
                {'label': 'Table View', 'value': 'table'},
            ],
            label='View',
            value=view,
            query='view',
            class='mr-2'
           )
        }}
        {{ m.input_select2(
            options=[
                {'label': 'All IJRs', 'value' : '0'} if view == 'table' else null,
                {'label': 'IJR 1 (2019)', 'value' : '1'},
                {'label': 'IJR 2 (2020)', 'value' : '2'},
                {'label': 'IJR 3 (2022)', 'value' : '3'},
            ],
            label='IJR Number',
            value=ijr_number,
            query='ijr_number',
            class='mr-2'
           )
        }}
        {% if view == 'map' %}
        {{ m.input_select2(
            options=[
                {'label': 'Overall', 'value' : 'overall'},
                {
                    'group': 'Pillars',
                    'options': [
                        {'label': 'Police', 'value': 'police'},
                        {'label': 'Prisons', 'value': 'prisons'},
                        {'label': 'Judiciary', 'value': 'judiciary'},
                        {'label': 'Legal Aid', 'value': 'legal_aid'},
                    ]
                },
                {
                    'group': 'Ranked Themes',
                    'options': [
                        {'label': 'Human Resources', 'value': 'hr'},
                        {'label': 'Diversity', 'value': 'diversity'},
                        {'label': 'Trends', 'value': 'trends'},
                    ]
                }
            ],
            label='Rank by another dimension',
            value=rank_by,
            query='rank_by',
            class='mr-2'
           )
        }}
        {% endif %}
        {% if view == 'table' %}
        {{ m.input_select2(
            options=[
                {'label': '4 Pillars', 'value' : 'pillars'},
                {'label': '3 Ranked Themes', 'value' : 'themes'},
            ],
            label='Rank by',
            value=table_view,
            query='table_view',
            class='mr-2'
           )
        }}
        {% endif %}
        {{ m.input_select2(
            options=[
                {'label': '18 Large and Mid Size States', 'value' : 'large-mid'},
                {'label': '7 Small States' + ('&nbsp;' * 20), 'value' : 'small'},
            ],
            label='Change Cluster',
            value=cluster,
            query='cluster'
           )
        }}
    </div>
    <sl-button onclick="show_how_to_read()" size="small" variant="text">
        How to read this page?
    </sl-button>
</div>

{%- if view == 'map' -%}
<div class="mt-4">
    <div class="flex justify-between" style="gap: 2rem;">
        <div class="ranking-table-container">
            {%- with state_rankings=state_rankings,
                    score_field=rank_by + '_score',
                    rank_field=rank_by + '_rank',
                    delta_field=rank_by + '_rank_delta',
                    color_field=rank_by + '_rank_color' -%}
            {% include "templates/includes/ranking_table.html" %}
            {%- endwith -%}
        </div>

        <div class="map-container">
            {% set hover_html %}
            <div class="font-size-sm">
                {% set max_rank = '18' if cluster == 'large-mid' else '7' %}
                <h3>${d.state} Rankings</h3>
                <div class="flex-between" style="gap: 0.5rem;">
                    <div>Overall</div>
                    <div>${d.overall_rank} of {{ max_rank }}</div>
                </div>
                <div class="mt-1 flex-between text-muted">
                    Pillars
                </div>
                <div class="flex-between" style="gap: 0.5rem;">
                    <div>Police</div>
                    <div>${d.police_rank} of {{ max_rank }}</div>
                </div>
                <div class="flex-between" style="gap: 0.5rem;">
                    <div>Prisons</div>
                    <div>${d.prisons_rank} of {{ max_rank }}</div>
                </div>
                <div class="flex-between" style="gap: 0.5rem;">
                    <div>Judiciary</div>
                    <div>${d.judiciary_rank} of {{ max_rank }}</div>
                </div>
                <div class="flex-between" style="gap: 0.5rem;">
                    <div>Legal Aid</div>
                    <div>${d.legal_aid_rank} of {{ max_rank }}</div>
                </div>
                <div class="mt-1 flex-between text-muted">
                    Ranked Themes
                </div>
                <div class="flex-between" style="gap: 0.5rem;">
                    <div>Human Resources</div>
                    <div>${d.hr_rank} of {{ max_rank }}</div>
                </div>
                <div class="flex-between" style="gap: 0.5rem;">
                    <div>Diversity</div>
                    <div>${d.diversity_rank} of {{ max_rank }}</div>
                </div>
                <div class="flex-between" style="gap: 0.5rem;">
                    <div>Trends</div>
                    <div>${d.trends_rank} of {{ max_rank }}</div>
                </div>
                <div class="mt-2 font-size-xs">
                    <a href="/state/${d.region_code}">Go to State Page</a>
                <div>
            </div>
            {% endset %}
            {%- with state_rankings=state_rankings, color_field=rank_by + '_rank_color', hover_html=hover_html -%}
            {% include "templates/includes/map_with_hover.html" %}
            {%- endwith -%}
        </div>
    </div>
</div>
{%- endif -%}

{%- if view == 'table' -%}
<div>
    {%- if table_view == 'pillars' -%}
    {%- set columns = [
        {
            'label': 'State',
            'id': 'state',
            'width': 250,
            'filter': true,
            'format': '''<a href="/state/${d.region_code}">${d.state}</a>'''
        },
        {
            'label': 'IJR',
            'id': 'ijr_number',
            'align': 'center',
            'width': 80,
            'filter': true,
            'hide_condition': ijr_number != '0'
        },
        {
            'label': 'Overall',
            'id': 'overall_rank',
            'align': 'center',
            'width': 100
        },
        {
            'label': 'Police',
            'id': 'police_rank',
            'align': 'center',
            'width': 100
        },
        {
            'label': 'Prisons',
            'id': 'prisons_rank',
            'align': 'center',
            'width': 100
        },
        {
            'label': 'Judiciary',
            'id': 'judiciary_rank',
            'align': 'center',
            'width': 100
        },
        {
            'label': 'Legal Aid',
            'id': 'legal_aid_rank',
            'align': 'center',
            'width': 100
        },
    ] -%}
    {%- elif table_view == 'themes' -%}
    {%- set columns = [
        {
            'label': 'State',
            'id': 'state',
            'width': 250,
            'filter': true
        },
        {
            'label': 'IJR',
            'id': 'ijr_number',
            'align': 'center',
            'width': 80,
            'filter': true,
            'hide_condition': ijr_number != '0'
        },
        {
            'label': 'Human Resources',
            'id': 'hr_rank',
            'align': 'center',
            'width': 100
        },
        {
            'label': 'Diversity',
            'id': 'diversity_rank',
            'align': 'center',
            'width': 100
        },
        {
            'label': 'Trends',
            'id': 'trends_rank',
            'align': 'center',
            'width': 100
        }
    ] -%}
    {%- endif -%}


    <div class="mt-4">
        {%- with columns=columns, data=state_rankings, class='w-100' -%}
        {% include "templates/includes/featured-table.html" %}
        {%- endwith -%}
    </div>
</div>
{%- endif -%}

<div class="mt-6 filters-toolbar">
    <div>
        <sl-button size="small">
            Notes
        </sl-button>
        <sl-button onclick="download_data()" size="small">
            Download Data
        </sl-button>
        <sl-button size="small">
            Download Image
        </sl-button>
    </div>

    <div class="flex align-items-center">
        <sl-icon-button name="twitter" label="Share on Twitter"></sl-icon-button>
        <sl-icon-button name="linkedin" label="Share on LinkedIn"></sl-icon-button>
    </div>
</div>

<script>
    function download_data() {
        let url = generate_export_url({
            doctype: 'State Ranking',
            fields: [
                "state",
                "cluster",
                "ijr_number",
                "year",
                "overall_rank",
                "overall_score",
                "prisons_rank",
                "prisons_score",
                "legal_aid_rank",
                "legal_aid_score",
                "diversity_rank",
                "diversity_score",
                "police_rank",
                "police_score",
                "judiciary_rank",
                "judiciary_score",
                "hr_rank",
                "hr_score",
                "trends_rank",
                "trends_score"
            ],
            filters: {
                'ijr_number': {{ ijr_number }}
            },
            order_by: 'state'
        });
        download_file_from_url("?" + url);
    }

    function show_how_to_read() {
        frappe.msgprint({
            title: 'How to read this page',
            message: 'Help text'
        })
    }
</script>

