#india-map path:not([style*="opacity: 1"]):hover {
    fill: var(--sl-color-gray-100) !important;
}

.overall-tab-table [data-column*="_score"] {
    display: none;
}

.overall-tab-table.show-scores [data-column*="_score"] {
    display: table-cell;
}
.overall-tab-table.show-scores [data-column*="_rank"] {
    display: none;
}

.table-calculations:not(.table-calculations-trends) tr:last-child td {
    font-weight: bold;
}