---
base_template: 'templates/web.html'
no_cache: 1
---

{% import "templates/macros.html" as m %}

<div class="title-toolbar">
    <div>
        <div class="d-flex align-items-center">
            <h1>
                <span class="sr-only">
                    {{ state.name }}
                </span>
                <select class="state-select pl-0" onchange="window.location.href = '/state/' + this.value">
                        {% for cluster in states_by_cluster %}
                        <optgroup label="{{ cluster }}">
                        {% set states = states_by_cluster[cluster] %}
                        {% for _state in states %}
                        <option value="{{ _state.code }}" {{ 'selected' if state.code == _state.code }}>
                            {{ _state.name }}
                        </option>
                        {% endfor %}
                        </optgroup>
                        {% endfor %}
                </select>
            </h1>
        </div>

        <div class="mt-2">{{ description }}</div>
    </div>
    <div class="text-right">
        {% if active_tab == 'Overall' %}
        <div class="view-switcher mb-2" x-data="toggleScoreData">
            <button @click="toggleScore('Rank')" :class="currentValue == 'Rank' && 'active'">
                Rank
            </button>
            <button @click="toggleScore('Score')" :class="currentValue == 'Score' && 'active'">
                Score
            </button>
        </div>
        {% endif %}
        {{ m.color_legend(class='d-none d-md-flex') }}
    </div>
</div>

<div class="flex mt-4">
    <!-- Sidebar -->
    <div class="sidebar-nav d-none d-md-flex">
        {% macro sidebar_item(label, value) %}
        <a
            class="sidebar-nav-item {{ 'active' if active_tab == label else '' }}"
            href="/state/{{ state.code }}?{{ value }}"
        >
            {{ label }}
        </a>
        {% endmacro %}

        {{ sidebar_item('Overall', '') }}
        <label class="sidebar-nav-label">Pillars</label>
        {{ sidebar_item('Police', 'pillar=police') }}
        {{ sidebar_item('Prisons', 'pillar=prisons') }}
        {{ sidebar_item('Judiciary', 'pillar=judiciary') }}
        {{ sidebar_item('Legal Aid', 'pillar=legal_aid') }}
        <label class="sidebar-nav-label">Ranked Themes</label>
        {{ sidebar_item('Human Resources', 'theme=hr') }}
        {{ sidebar_item('Diversity', 'theme=diversity') }}
        {{ sidebar_item('Trends', 'theme=trends') }}
    </div>

<div class="w-100">
<!-- Main Content -->
{% macro render_tab(tab) %}
<sl-tab onclick="{{ tab.onclick }}" {{ 'active' if active_tab==tab.label else '' }}>
    {{ tab.label }}
</sl-tab>
{% endmacro %}

{% if active_tab == 'Overall' %}
    {% if current_ranking %}
    <div class="flex">
        <div class="state-rank-number">
            <div class="title">{{ current_ranking.overall_rank }}</div>
            <div class="description">IJR {{ current_ranking.ijr_number }} Rank</div>
        </div>
        <div class="state-rank-number ml-8">
            <div class="title">{{ current_ranking.overall_score }}</div>
            <div class="description">IJR {{ current_ranking.ijr_number }} score</div>
        </div>
    </div>

    <div class="mt-2 featured-table-container">
    <!-- #region Overall -->
    <div class="flex items-start justify-between">
        <div>

            {%- set columns = [
            {
                'label': 'IJR',
                'id': 'ijr_number',
                'width': 100,
                'format': '''IJR ${d.ijr_number}'''
            },
            {
                'label': 'Overall',
                'id': 'overall_rank',
                'align': 'center',
                'width': 120
            },
            {
                'label': 'Overall',
                'id': 'overall_score',
                'align': 'center',
                'width': 120
            },
            {
                'label': 'Police',
                'id': 'police_rank',
                'align': 'center',
                'width': 120
            },
            {
                'label': 'Police',
                'id': 'police_score',
                'align': 'center',
                'width': 120
            },
            {
                'label': 'Prisons',
                'id': 'prisons_rank',
                'align': 'center',
                'width': 120
            },
            {
                'label': 'Prisons',
                'id': 'prisons_score',
                'align': 'center',
                'width': 120
            },
            {
                'label': 'Judiciary',
                'id': 'judiciary_rank',
                'align': 'center',
                'width': 120
            },
            {
                'label': 'Judiciary',
                'id': 'judiciary_score',
                'align': 'center',
                'width': 120
            },
            {
                'label': 'Legal Aid',
                'id': 'legal_aid_rank',
                'align': 'center',
                'width': 120
            },
            {
                'label': 'Legal Aid',
                'id': 'legal_aid_score',
                'align': 'center',
                'width': 120
            },
            ] -%}
            {%- with data=all_rankings, columns=columns, class="overall-tab-table" -%}
            <h2 class="mt-8 mb-2 pl-6 pl-md-0">Pillar Ranks</h2>
            {% include "templates/includes/featured-table.html" %}
            {%- endwith -%}

            {%- set columns = [
                {
                    'label': 'IJR',
                    'id': 'ijr_number',
                    'width': 100,
                    'format': '''IJR ${d.ijr_number}'''
                },
                {
                    'label': 'Human Resources',
                    'id': 'hr_rank',
                    'align': 'center',
                    'width': 120
                },
                {
                    'label': 'Human Resources',
                    'id': 'hr_score',
                    'align': 'center',
                    'width': 120
                },
                {
                    'label': 'Diversity',
                    'id': 'diversity_rank',
                    'align': 'center',
                    'width': 120
                },
                {
                    'label': 'Diversity',
                    'id': 'diversity_score',
                    'align': 'center',
                    'width': 120
                },
                {
                    'label': 'Trends',
                    'id': 'trends_rank',
                    'align': 'center',
                    'width': 120
                },
                {
                    'label': 'Trends',
                    'id': 'trends_score',
                    'align': 'center',
                    'width': 120
                }
            ] -%}
            {%- with data=all_rankings, columns=columns, class="overall-tab-table" -%}
            <h2 class="mt-8 mb-2 pl-6 pl-md-0">Theme Ranks</h2>
            {% include "templates/includes/featured-table.html" %}
            {%- endwith -%}

            <script>
                document.addEventListener('alpine:init', () => {
                    Alpine.data('toggleScoreData', () => ({
                        currentValue: 'Rank',
                        toggleScore(value) {
                            this.currentValue = value;
                            let showScore = this.currentValue == 'Score';
                            document.querySelectorAll('.overall-tab-table').forEach(function(table) {
                                if (showScore) {
                                    table.classList.add('show-scores');
                                } else {
                                    table.classList.remove('show-scores');
                                }
                            });
                        }
                    }))
                })
            </script>
        </div>

        <div class="flex-shrink-0 d-none d-md-block">
            {%- with state=state.code -%}
            {% include "templates/includes/india_map.html" %}
            {%- endwith -%}
        </div>
    </div>
    <!-- endregion -->
    </div>
    {% else %}
    State not ranked in IJR
    {% endif %}

{% else %}
    <div class="mt-2 featured-table-container">
    {%- set columns = [
    {
        'label': 'Indicator',
        'id': 'indicator_name',
        'format': '''<a href="/indicator/${d.indicator_id}">${d.indicator_name}</a>''',
        'width': 310,
        'filter': true
    },
    { 'label': 'Theme', 'id': 'theme', 'width': 150, 'filter': true } if frappe.form_dict.pillar else { 'label': 'Pillar', 'id': 'pillar', 'filter': true },
    { 'label': 'IJR', 'id': 'ijr_number', 'width': 100, 'align': 'center', 'filter': true },
    { 'label': 'Score', 'id': 'ijr_score', 'width': 100, 'format': '''return Number(d.ijr_score).toFixed(2)''', 'align': 'right' },
    { 'label': 'Value', 'id': 'indicator_value', 'width': 100, 'align': 'right' },
    { 'label': 'Unit', 'id': 'indicator_unit', 'width': 100 },
    { 'label': 'Period', 'id': 'year', 'width': 150, },
    {
        'label': 'Calculation',
        'id': 'calculation',
        'width': 100,
        'sort': false,
        'format': '''
            if (d.indicator_id && get_raw_data(d)) {
                return `<a onclick="event.preventDefault(); show_calculations(${d.indicator_id}, ${d.ijr_number});" class="" href="#">
                    Calculation
                </a>`
            }
            return ""
        '''
    },
    ] -%}
    <div>
        {%- with data=indicators_data, columns=columns, class="w-full-desktop" -%}
        {% include "templates/includes/featured-table.html" %}
        {%- endwith -%}
    </div>

    <sl-dialog label="Calculations" id="calculationsDialog" style="--width: max-content; --body-spacing: 0 1.25rem 1.25rem 1.25rem">
        <sl-button slot="footer" variant="primary">Close</sl-button>
    </sl-dialog>
    </div>

{% endif %}
<!-- Main Content -->
</div>

</div>

<div class="mt-6 bottom-toolbar">
    <div>
        <sl-button size="small" variant="text">
            Notes
        </sl-button>
        <sl-button size="small" variant="text">
            Download Data
        </sl-button>
    </div>

    <div class="flex align-items-center">
        <sl-icon-button name="twitter" label="Share on Twitter"></sl-icon-button>
        <sl-icon-button name="linkedin" label="Share on LinkedIn"></sl-icon-button>
        <sl-button onclick="show_how_to_read()" size="small" variant="text">
            How to read this page?
        </sl-button>
    </div>
</div>

<script>
    let raw_data = {{ as_json(raw_data, indent = None) }};
    window.raw_data = raw_data

    function get_raw_data({ indicator_id, ijr_number }) {
        return raw_data[indicator_id] || raw_data[`${indicator_id}-${ijr_number}`];
    }

    function show_calculations(indicator_id, ijr_number) {
        let data = get_raw_data({ indicator_id, ijr_number });
        let title = data[0].state
        let description = `${data[0].pillar}: ${data[0].indicator_name}`

        let dialog = window.calculationsDialog;
        dialog.label = description || 'Calculations';
        let header = ''
        let rows = ''
        let table_class = ''
        if (data[0].theme == 'Trends') {
            let trends_years = [];
            let trends_data = {};
            for (let row of data) {
                if (!trends_years.includes(row.year)) {
                    trends_years.push(row.year);
                }
                trends_data[row.year] = trends_data[row.year] || {};
                trends_data[row.year][row.raw_data_name] = row.raw_data_value;
            }

            let sequences = [...new Set(data.map(d => d.raw_data_sequence))];
            let raw_data_headers = sequences.map(seq => {
                let d = data.find(d => d.raw_data_sequence == seq)
                return `<th>${d.raw_data_name} (${d.raw_data_unit})</th>`
            }).join('');
            header = `
                <th>Year</th>
                ${raw_data_headers}
            `;
            rows = trends_years.map(year => {
                return `<tr>
                    <td>${year}</td>
                    ${sequences.map(seq => {
                        let d = data.find(d => d.raw_data_sequence == seq)
                        return `<td>${trends_data[year][d.raw_data_name]}</td>`
                    }).join('')}
                </tr>`
            }).join('');
            table_class = 'table-calculations-trends'
        } else {
            header = `
                <th>Metric Name</th>
                <th>Unit</th>
                <th>IJR 1</th>
                <th>IJR 2</th>
                <th>IJR 3</th>
            `;
            rows = data.map(row => {
                return `<tr>
                    <td>${row.raw_data_name}</td>
                    <td>${row.raw_data_unit}</td>
                    <td>${row.ijr_1_value}</td>
                    <td>${row.ijr_2_value}</td>
                    <td>${row.ijr_3_value}</td>
                </tr>`
            }).join('');
        }

        dialog.innerHTML = `
            <table class="table table-bordered table-calculations mb-0 ${table_class}">
                <thead>
                    ${header}
                </thead>
                <tbody>${rows}</tbody>
            </table>
        `;
        dialog.show();
    }
</script>