#india-map path:not([style*="opacity: 1"]):hover {
    fill: var(--sl-color-gray-100) !important;
}

.featured-table [data-column*="_score"] {
    display: none;
}

.featured-table.show-scores [data-column*="_score"] {
    display: table-cell;
}
.featured-table.show-scores [data-column*="_rank"] {
    display: none;
}

.table-calculations tr:last-child td {
    font-weight: bold;
}