$dark-green: #0B2027;
$light-green: #70A9A1;
$beige: #F6F1D1;
$teal-blue: #40798C;
$ash-gray: #CFD7C7;

$border-color: $teal-blue;
$body-color: #fff;
$headings-color: #fff;


@import "frappe/public/scss/website.bundle";

:root {
    --dark-green: #{$dark-green};
    --light-green: #{$light-green};
    --beige: #{$beige};
    --teal-blue: #{$teal-blue};
    --ash-gray: #{$ash-gray};

    --best: #a16207;
    --middle: #eab308;
    --worst: #fde047;

    --primary: #{$primary};
    --primary-color: #{$primary};
    --bg-color: #{$body-bg};
}

#website-post-login {
    display: none !important;
}


// India Map

#india-map path {
    fill: transparent;
    stroke: black;
    stroke-width: 1;
    cursor: pointer;
}

#india-map path:not([disabled]):hover,
#india-map path:not([disabled]).highlight {
    fill: var(--beige) !important;
}

.info-box {
    min-width: 270px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid var(--beige);
    border-radius: var(--border-radius);
    padding: 0.75rem;
    backdrop-filter: blur(4px);
}

.info-box:empty {
    display: none !important;
}

.color-legend {
    font-size: var(--font-size-sm);
    border-radius: var(--border-radius);
    margin-right: 0.5rem;
    padding: 0.3rem 0.7rem;
    line-height: 1;
}

// Table

.datatable {
	--dt-border-color: #40798C;
	--dt-light-bg: rgba(64, 121, 140, 0.46);
	--dt-text-color: #dfe2e5;
	--dt-text-light: #dfe2e5;
	--dt-cell-bg: #0B2027;
	--dt-focus-border-width: 1px;
	--dt-selection-highlight-color: var(--dt-light-bg);
	--dt-toast-message-border: 1px solid var(--dt-border-color);
	--dt-header-cell-bg: #0B2027;
	--dt-primary-color: var(--beige);
}

.value-type.Best {
    background-color: var(--best);
}
.value-type.Middle {
    background-color: var(--middle);
}
.value-type.Worst {
    background-color: var(--worst);
}

// Modal
.modal-title, .modal-content {
    color: var(--dark);
}

.web-footer {
    background-color: unset;
}

// Map view
.color-shade {
    width: 1rem;
    height: 1rem;
    border-radius: 0.1rem;
    margin: 0 0.25rem;
}

.rank-bar {
    height: 1rem;
    background-color: #F9FAFB;
}

.table-state-rank {
    table-layout: fixed;
}

.table-state-rank :is(th, td) {
    padding-right: 1rem;
}

tr[data-state].highlight, tr[data-state]:hover {
    color: var(--beige);
    font-weight: bold;
}

tr[data-state].highlight .rank-bar, tr[data-state]:hover .rank-bar {
    background-color: var(--beige) !important;
}

.info-box {
    min-width: 270px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid var(--beige);
    border-radius: var(--border-radius);
    padding: 0.75rem;
}

.datatable {
	--dt-border-color: #40798C;
	--dt-light-bg: rgba(64, 121, 140, 0.46);
	--dt-text-color: #dfe2e5;
	--dt-text-light: #dfe2e5;
	--dt-cell-bg: #0B2027;
	--dt-focus-border-width: 1px;
	--dt-selection-highlight-color: var(--dt-light-bg);
	--dt-toast-message-border: 1px solid var(--dt-border-color);
	--dt-header-cell-bg: #0B2027;
	--dt-primary-color: var(--beige);

}

.dt-row-header {
    border-bottom-color: transparent !important;
}

/* Hide Remove Column option */
.dt-dropdown__list-item[data-index="3"] {
    display: none;
}

.value-type {
    padding: 0.5rem;
    margin: -0.5rem;
}