:root {
    --font-stack: 'Public Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --sl-font-sans: var(--font-stack);

    --worst: #F1D68F;
    --middle: #A8D8B4;
    --best: #63BDBB;
    --brand-color: #0043EE;
    --data-hover-color: var(--brand-color);
    --border-radius: 3px;
}

html, body {
    font-family: var(--font-stack);
}

:not(:defined) {
    visibility: hidden;
}

h1 {
    margin: 0;
    font-size: 22px;
}

h2 {
    margin: 0;
    font-size: 16px;
}

h3 {
    margin: 0;
    font-size: 14px;
}

a {
    color: var(--brand-color);
}

a:hover {
    color: var(--brand-color);
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar.navbar-light {
    background-color: var(--brand-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-light .navbar-toggler .icon {
    stroke: white;
}

.navbar-brand img {
    max-height: unset;
    height: 32px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--sl-color-gray-100);
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-shrink: 0;
    width: 142px;
    margin-right: 2rem;
}

.sidebar-nav-item {
    display: flex;
    padding: 7px 10px;
    line-height: 1.2;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: var(--sl-color-gray-900);
    text-decoration: none;
    font-size: var(--sl-font-size-small);
}

.sidebar-nav-item:hover {
    text-decoration: none;
    color: var(--sl-color-gray-900);
    background-color: var(--sl-color-gray-100);
}

.sidebar-nav-item.active {
    background-color: var(--brand-color);
    color: white;
}

.sidebar-nav-label {
    font-size: 11px;
    color: var(--sl-color-gray-500);
    margin: 0.5rem 0 0 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.ijr-select, .state-select {
    appearance: none;
    border: none;
    font-weight: 600;
    color: var(--brand-color);
    font-size: 16px;
    transform: scale(1.375);
    transform-origin: left;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%230043EE' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-left: 0.5rem;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.cluster-select {
    appearance: none;
    border: none;
    color: var(--sl-color-gray-700);
    background-color: var(--sl-color-gray-100);
    border-radius: var(--border-radius);
    font-size: var(--sl-font-size-small);
    line-height: 1;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23a1a1aa' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding: 7px 2.5rem 7px 10px;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.view-switcher {
    display: inline-flex;
    align-items: center;
    padding: 2px;
    border-radius: var(--border-radius);
    background-color: var(--sl-color-gray-100);
}

.view-switcher a, .view-switcher button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    color: var(--sl-color-gray-600);
    text-decoration: none;
    font-size: var(--sl-font-size-small);
    padding: 5px 10px;
    line-height: 1;
}

.view-switcher a.active, .view-switcher button.active {
    color: var(--sl-color-gray-900);
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 0.5px 2px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.05);
}

.view-switcher button:focus {
    outline: none;
}

.view-switcher button:focus-visible {
    outline: auto;
}

.color-legend-container {
    font-size: var(--sl-font-size-small);
    display: flex;
    align-items: center;
    gap: 1px;
}

.color-legend {
    width: 2rem;
    height: 0.75rem;
}

.color-legend.best {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.color-legend.worst {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.title-toolbar {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.filters-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--sl-color-gray-100);
    border-radius: 6px;
}

.bottom-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    background-color: var(--sl-color-gray-100);
    border-radius: 6px;
}

.tab-group-label {
    background-color: var(--sl-color-gray-200);
    width: 100%;
    text-align: center;
    font-size: var(--sl-font-size-small);
}

.state-rank-number .title {
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--sl-color-gray-900);
    padding: 0.5rem 0.75rem;
    background-color: var(--sl-color-gray-100);
    border-radius: var(--border-radius);
    line-height: 1.1;
}

.state-rank-number .description {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--sl-color-gray-600);
}

.table-ranking {
    font-size: 14px;
}

.table-ranking td, .table-ranking th {
    padding: 6px 4px;
}

.table-ranking thead th {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.table-ranking thead tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.table-ranking thead tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table-ranking .rank-circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 999px;
    background-color: var(--sl-color-gray-100);
    display: grid;
    place-items: center;
    color: var(--sl-color-gray-900);
}

.rank-bar-container {
    --bar-width: 100px;
    display: flex;
    align-items: center;
    width: var(--bar-width);
    background-color: var(--sl-color-gray-100);
    height: 0.5rem;
    border-radius: 999px;
    overflow: hidden;
}

.rank-bar {
    height: 0.5rem;
}

.delta-increase {
    color: var(--sl-color-green-600);
}

.delta-decrease {
    color: var(--sl-color-red-600);
}

.delta-same {
    color: var(--sl-color-gray-400);
}

tr[data-state] td:first-child, tr[data-state] td:last-child {
    border-radius: var(--border-radius);
}

tr[data-state].highlight, tr[data-state]:hover {
    background-color: var(--sl-color-gray-50);
}

tr[data-state].highlight .rank-circle, tr[data-state]:hover .rank-circle {
    background-color: white;
}

.map-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: end;
}

#india-map {
    /* height: 500px; */
}

#india-map path {
    fill: var(--sl-color-gray-100);
    stroke: white;
    stroke-width: 1;
    cursor: pointer;
}

#india-map path:not([disabled]):hover,
#india-map path:not([disabled]).highlight {
    fill: var(--data-hover-color) !important;
}

.info-box {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: var(--sl-shadow-x-large);
    border-radius: 6px;
    padding: 0.875rem 1rem;
    border: 1px solid var(--sl-color-gray-200);
    min-width: 20ch;
    pointer-events: none;
}

.info-box h3 {
    font-size: 18px;
    color: var(--brand-color);
}

.info-box-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--sl-font-size-small);
    padding: 6px 0;
    line-height: 1.15;
    color: var(--sl-color-gray-700);
}

.info-box-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.15;
    color: var(--sl-color-gray-500);
}

/* Featured Table */

.featured-table-container {
    /* table border spacing (2px) */
    margin: 0 -2px;
    overflow: auto;
}

.featured-table {
    table-layout: fixed;
    border-collapse: separate;
    font-size: 14px;
    border-spacing: 1px;
}

.featured-table thead tr {
    background-color: var(--sl-color-gray-100) !important;
}

.featured-table thead th:first-of-type {
    border-top-left-radius: var(--border-radius);
}

.featured-table thead th:last-of-type {
    border-top-right-radius: var(--border-radius);
}

.featured-table tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: var(--border-radius);
}

.featured-table tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: var(--border-radius);
}

.featured-table tr:nth-child(odd) {
    background-color: var(--sl-color-gray-50);
}

.featured-table th {
    padding: 1px 10px;
    line-height: 1.15;
    font-weight: 500;
}

.featured-table td {
    padding: 7px 10px;
    line-height: 1.15;
}

/* table indicator raw data */
.table-indicator-raw-data {
    table-layout: fixed;
}

.table-indicator-raw-data th, .table-indicator-raw-data td {
    padding-right: 1rem;
}

.table-indicator-raw-data tr:last-child {
    font-weight: bold;
}

/* Tabs */
sl-tab::part(base) {
    padding: var(--sl-spacing-small) var(--sl-spacing-medium);
}

sl-tab[active]::part(base) {
    background-color: white;
}

sl-menu-item {
    --sl-font-size-medium: 14px;
}

sl-menu-item:hover::part(base) {
    background-color: var(--sl-color-gray-100);
    color: var(--sl-color-neutral-700);
}

sl-menu-label {
    --sl-spacing-x-large: 1rem;
}
sl-menu-label::part(base) {
    color: var(--sl-color-primary-600);
}

sl-button[variant=text]::part(base) {
    color: var(--sl-color-neutral-600);
}
sl-button[variant=text]::part(base):hover {
    color: var(--brand-color);
}

sl-icon-button::part(base):hover, sl-icon-button::part(base):focus {
    color: var(--brand-color);
}

.w-full-mobile {
    width: unset;
}

.w-full-desktop {
    width: 100%;
}

/* styles for mobile view */
@media (max-width: 767px) {
    .title-toolbar {
        flex-direction: column;
    }

    .filters-toolbar {
        flex-direction: column;
    }

    .bottom-toolbar {
        flex-direction: column;
        padding-left: 6px;
        padding-right: 6px;
    }

    .rank-bar-container {
        --bar-width: 60px;
    }

    .featured-table-container {
        overflow: auto;
        /* container padding (1.5rem) + table border spacing (2px) */
        margin: 0 calc(-1.5rem - 2px);
    }

    .featured-table {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .w-full-mobile {
        width: 100%;
    }

    .w-full-desktop {
        width: unset;
    }
}