:root {
    --font-stack: 'Public Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --sl-font-sans: var(--font-stack);
    --sl-font-serif: 'Spectral', Georgia, 'Times New Roman', Times, serif !important;

    --worst: #F1D68F;
    --middle: #A8D8B4;
    --best: #63BDBB;
    --brand-color: #000 !important;
    --accent-color: #db1d30 !important;
    --data-hover-color: var(--brand-color);
    --border-radius: 3px;
}

.font-serif {
    font-family: var(--sl-font-serif);
}

*, button:focus {
    outline-color: var(--accent-color);
}

html, body {
    font-family: var(--font-stack);
    overflow-x: hidden;
}

:not(:defined) {
    visibility: hidden;
}

h1 {
    margin: 0;
    font-size: 22px;
}

h2 {
    margin: 0;
    font-size: 16px;
}

h3 {
    margin: 0;
    font-size: 14px;
}

a {
    color: var(--brand-color);
}

a:hover {
    color: var(--accent-color);
}

a.accent-link:hover {
    text-decoration: none;
    color: var(--accent-color);
    border-bottom: 1px dashed var(--accent-color);
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#website-post-login {
    display: none !important;
}

.navbar.navbar-light {
    background-color: var(--brand-color);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-bottom: none;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-light .navbar-toggler .icon {
    stroke: white;
}

.navbar-brand img {
    max-height: unset;
    height: 45px;
}

.navbar .navbar-nav .nav-link {
    color: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1.5rem;
    border-bottom: 1px solid transparent;
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link.active {
    color: white;
    border-bottom: 1px dashed var(--accent-color);
}

.vertical-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: auto;
}

.horizontal-nav {
    display: flex;
    gap: 0.5rem;
    overflow: auto;
}

.sidebar-nav-item {
    display: flex;
    flex-shrink: 0;
    padding: 7px 10px;
    line-height: 1.2;
    border: 1px solid var(--sl-color-gray-200);
    border-radius: var(--border-radius);
    cursor: pointer;
    color: var(--sl-color-gray-900);
    text-decoration: none;
    font-size: var(--sl-font-size-small);
}

.sidebar-nav-item:hover {
    text-decoration: none;
    color: var(--sl-color-gray-900);
    background-color: var(--sl-color-gray-100);
}

.sidebar-nav-item.active {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    color: white;
}

.sidebar-nav-label {
    font-size: 11px;
    color: var(--sl-color-gray-500);
    margin: 0.5rem 0 0 0px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.secondary-nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    margin: -1rem -40rem 1rem -40rem;
    padding: 0.5rem 0;
    background-color: var(--sl-color-gray-100);
    border-bottom: 1px solid var(--sl-color-gray-200);
}

.secondary-nav-items {
    display: flex;
    overflow: auto;
    font-size: var(--sl-font-size-small);
}

.secondary-nav-link {
    padding: 0;
    background-color: transparent;
    border: 0;
    color: var(--sl-color-gray-600);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    outline-color: var(--accent-color);
}

.secondary-nav-link:hover {
    color: var(--sl-color-gray-900);
    text-decoration: none;
}

.secondary-nav-link.active {
    color: var(--brand-color);
    font-weight: 600;
    border-bottom-color: var(--accent-color);
}

.secondary-nav-link:not(:first-child) {
    margin-left: 1.5rem;
}

.ijr-select {
    appearance: none;
    border: none;
    background-color: transparent;
    font-weight: 600;
    line-height: 1;
    font-size: 16px;
    border-radius: var(--border-radius);
    width: 100%;
    cursor: pointer;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23db1d30' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding: 0.5em 1.5em 0.5em 0.1em;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.ijr-select:hover {
    background-color: var(--sl-color-gray-200);
}


.cluster-select, .control-select {
    appearance: none;
    border: none;
    color: var(--sl-color-gray-700);
    background-color: var(--sl-color-gray-100);
    border-radius: var(--border-radius);
    font-size: var(--sl-font-size-small);
    line-height: 1;
    cursor: pointer;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23a1a1aa' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding: 7px 2.5rem 7px 10px;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

option:checked {
    background-color: var(--brand-color) !important;
    color: white !important;
}

.view-switcher {
    display: inline-flex;
    align-items: center;
    padding: 2px;
    border-radius: var(--border-radius);
    background-color: var(--sl-color-gray-100);
}

.view-switcher a, .view-switcher button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    color: var(--sl-color-gray-600);
    text-decoration: none;
    font-size: var(--sl-font-size-small);
    padding: 5px 10px;
    line-height: 1;
}

.view-switcher a.active, .view-switcher button.active {
    color: var(--sl-color-gray-900);
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 0.5px 2px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.05);
}

.view-switcher button:focus {
    outline: none;
}

.view-switcher button:focus-visible {
    outline: auto;
}

.ijr-breadcrumb {
    padding: 0;
}

.ijr-badge {
    border-radius: var(--border-radius);
    background-color: var(--sl-color-gray-100);
    color: var(--sl-color-gray-600);
    padding: 7px 10px;
    font-size: var(--sl-font-size-small);
    line-height: 1;
}

.color-legend-container {
    font-size: var(--sl-font-size-small);
    display: flex;
    align-items: center;
    gap: 1px;
}

.color-legend {
    width: 2rem;
    height: 0.75rem;
}

.color-legend.best {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.color-legend.worst {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.title-toolbar {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.filters-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--sl-color-gray-100);
    border-radius: 6px;
}

.bottom-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    background-color: var(--sl-color-gray-100);
    border-radius: 6px;
}

.tab-group-label {
    background-color: var(--sl-color-gray-200);
    width: 100%;
    text-align: center;
    font-size: var(--sl-font-size-small);
}

.state-overview {
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.state-overview-stat .label {
    font-size: var(--sl-font-size-small);
}

.state-overview-stat .stat {
    margin-top: 0.5rem;
    display: grid;
    place-items: center;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--sl-color-gray-100);
    font-size: var(--sl-font-size-base);
    padding: 0.5rem;
}

.table-ranking {
    font-size: 14px;
}

.table-ranking td, .table-ranking th {
    padding: 6px 4px;
}

.table-ranking thead th {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.table-ranking thead tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.table-ranking thead tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table-ranking .rank-circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 999px;
    background-color: var(--sl-color-gray-100);
    display: grid;
    place-items: center;
    color: var(--sl-color-gray-900);
}

.rank-bar-container {
    --bar-width: 100px;
    display: flex;
    align-items: center;
    width: var(--bar-width);
    background-color: var(--sl-color-gray-100);
    height: 0.5rem;
    border-radius: 999px;
    overflow: hidden;
}

.rank-bar {
    height: 0.5rem;
}

.delta-increase {
    color: var(--sl-color-green-600);
}

.delta-decrease {
    color: var(--sl-color-red-600);
}

.delta-same {
    color: var(--sl-color-gray-400);
}

tr[data-state] td:first-child, tr[data-state] td:last-child {
    border-radius: var(--border-radius);
}

tr[data-state].highlight, tr[data-state]:hover {
    background-color: var(--sl-color-gray-50);
}

tr[data-state].highlight .rank-circle, tr[data-state]:hover .rank-circle {
    background-color: white;
}

.map-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

#india-map {
    max-height: 700px;
}

#india-map path {
    fill: var(--sl-color-gray-200);
    stroke: white;
    stroke-width: 1;
    cursor: pointer;
}

#india-map path:not([disabled]):hover,
#india-map path:not([disabled]).highlight {
    fill: var(--data-hover-color) !important;
}

.info-box {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: var(--sl-shadow-x-large);
    border-radius: 6px;
    padding: 0.875rem 1rem;
    border: 1px solid var(--sl-color-gray-200);
    width: max-content;
    pointer-events: none;
}

.info-box h3 {
    font-size: 18px;
    color: var(--brand-color);
}

.info-box-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: var(--sl-font-size-small);
    padding: 6px 0;
    line-height: 1.15;
    color: var(--sl-color-gray-700);
}

.info-box-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.15;
    color: var(--sl-color-gray-500);
}

.table-calculations th, .table-calculations td {
    padding: 7px 10px;
    font-size: var(--sl-font-size-small);
}

.table-calculations:not(.table-calculations-trends) tr:last-child td {
    font-weight: bold;
}

/* Featured Table */

.featured-table-container {
    /* table border spacing (2px) */
    margin: 0 -2px;
    overflow: auto;
}

.featured-table {
    table-layout: fixed;
    border-collapse: separate;
    font-size: 14px;
    border-spacing: 1px;
    position: relative;
}

.featured-table thead tr {
    background-color: var(--sl-color-gray-100) !important;
}

.featured-table thead th:first-of-type {
    border-top-left-radius: var(--border-radius);
}

.featured-table thead th:last-of-type {
    border-top-right-radius: var(--border-radius);
}

.featured-table tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: var(--border-radius);
}

.featured-table tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: var(--border-radius);
}

.featured-table tr:nth-child(odd) {
    background-color: var(--sl-color-gray-50);
}

.featured-table th {
    padding: 4px 10px;
    line-height: 1.15;
    font-weight: 500;
    position: sticky;
    top: 0;
    background-color: var(--sl-color-gray-100);
}

.featured-table td {
    padding: 7px 10px;
    line-height: 1.15;
}

.featured-table sl-icon-button::part(base) {
    padding: 4px;
}

.featured-table-lg th, .featured-table-lg td {
    padding: 10px 15px;
}

/* table indicator raw data */
.table-indicator-raw-data {
    table-layout: fixed;
}

.table-indicator-raw-data th, .table-indicator-raw-data td {
    padding-right: 1rem;
}

.table-indicator-raw-data tr:last-child {
    font-weight: bold;
}

/* Tabs */
sl-tab::part(base) {
    padding: var(--sl-spacing-small) var(--sl-spacing-medium);
}

sl-tab[active]::part(base) {
    background-color: white;
}

sl-option {
    --sl-font-size-medium: 14px;
    --sl-spacing-x-small: 0.25rem;
    --sl-spacing-medium: 0.5rem;
    --sl-color-primary-600: var(--sl-color-gray-100);
    --sl-color-neutral-0: black;
}

sl-menu-item {
    --sl-font-size-medium: 14px;
}

sl-menu-item:hover::part(base) {
    background-color: var(--sl-color-gray-100);
    color: var(--sl-color-neutral-700);
}

sl-menu-label {
    --sl-spacing-x-large: 1rem;
}
sl-menu-label::part(base) {
    color: var(--sl-color-primary-600);
}

sl-button[variant=text]::part(base) {
    color: var(--sl-color-neutral-600);
}
sl-button[variant=text]::part(base):hover {
    color: var(--brand-color);
}

sl-icon-button::part(base):hover, sl-icon-button::part(base):focus {
    color: var(--brand-color);
}

sl-dialog {
    --body-spacing: 0 1.25rem 1.25rem 1.25rem;
}

.w-full-mobile {
    width: unset;
}

.w-full-desktop {
    width: 100%;
}

.right-0 {
    right: 0;
}

.left-0 {
    left: 0;
}

.indicator-heading {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
    color: var(--brand-color);
    border-bottom: 1px dashed;
}

.indicator-heading button {
    all: inherit;
    cursor: pointer;
}

.change-indicator {
    appearance: none;
    border: none;
    color: var(--sl-color-gray-700);
    background-color: var(--sl-color-gray-100);
    border-radius: var(--border-radius);
    font-size: var(--sl-font-size-small);
    line-height: 1;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.pillar-indicators {
    margin-bottom: 1rem;
}

.pillar-indicators label {
    font-size: var(--sl-font-size-small);
    font-weight: 500;
    color: var(--sl-color-gray-900);
    margin-bottom: 0.5rem;
}

.pillar-indicators a {
    display: flex;
    padding: 7px 10px;
    font-size: var(--sl-font-size-small);
    border-radius: var(--border-radius);
    color: var(--sl-color-gray-600);
    text-decoration: none;
}

.pillar-indicators a.active {
    color: var(--accent-color);
    background-color: var(--sl-color-gray-100);
}

.pillar-indicators a:hover:not(.active) {
    color: var(--sl-color-gray-900);
    background-color: var(--sl-color-gray-100);
}

/* styles for markdown pages */
[source-content-type=Markdown] h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.01em;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

[source-content-type=Markdown] h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.01em;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

[source-content-type=Markdown] h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.01em;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

[source-content-type=Markdown] h4 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.01em;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

[source-content-type=Markdown] .table th, [source-content-type=Markdown] .table td {
    padding: 0.5rem;
    font-size: 0.875rem;
}

[source-content-type=Markdown] .web-page-content {
    max-width: 65ch;
    color: var(--sl-color-gray-800);
    margin: 0 auto;
}

/* styles for mobile view */
@media (max-width: 767px) {
    .secondary-nav-items {
        display: block
    }

    .secondary-nav-link {
        padding: 7px 0;
    }

    .filters-toolbar {
        flex-direction: column;
    }

    .bottom-toolbar {
        flex-direction: column;
        padding-left: 6px;
        padding-right: 6px;
    }

    .ijr-select {
        background-color: var(--sl-color-gray-100);
        padding-left: 10px;
        padding-right: 10px;
    }

    .rank-bar-container {
        --bar-width: 60px;
    }

    .featured-table-container {
        overflow: auto;
        /* container padding (1.5rem) + table border spacing (2px) */
        margin: 0 calc(-1.5rem - 2px);
    }

    .featured-table {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .w-full-mobile {
        width: 100%;
    }

    .w-full-desktop {
        width: unset;
    }

    .homepage h1 {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .homepage-stat {
        padding: 4rem 0;
    }

    .homepage-stat .stat {
        font-size: 4rem;
    }

    .homepage-stat .title {
        font-size: 1.5rem;
    }

    .homepage-stat .subtitle {
        font-size: 1.25rem;
    }
}