<!-- variables: state_rankings, score_field, rank_field, delta_field, color_field, hide_arrows -->

<table class="table-ranking">
  <thead>
    <tr>
      <th>Rank</th>
      <th>State</th>
      <th class="text-right whitespace-nowrap">Score (out of 10)</th>
    </tr>
  </thead>
  <tbody>
    {% for d in state_rankings %}
    {% set score = d[score_field] %}
    {% set rank = d[rank_field] %}
    {% set delta = (d[delta_field] or 0) * -1 %}
    <tr data-state="{{ d.region_code }}">
      <td align="center">
        <div class="d-flex align-items-center">
            <div class="rank-circle">{{ rank }}</div>
            {% if not hide_arrows %}
              <div class="text-center ml-1" style="width: 16px;">
                <span class="{% if delta == 0 %} delta-same {% elif delta > 0 %} delta-increase {% else %} delta-decrease {% endif %}">
                  {% if delta == 0 %} &ndash; {% elif delta > 0 %} ↑ {% else %} ↓ {% endif %}
                </span>
              </div>
            {% endif %}
        </div>
      </td>
      <td width="200">
        <a href="{{ state_url(state=d.region_code, pillar_or_theme='overall') }}" style="font-weight:500">{{ d.state }}</a>
      </td>
      <td>
        <div class="d-flex align-items-center">
          <div class="rank-bar-container mr-5">
            <div class="rank-bar" style="
                width: calc(({{ (score | flt) }} * var(--bar-width)) / 10 );
                background-color: {{ d[color_field] }};
              "></div>
          </div>
          <div class="flex-fill text-right" style="font-variant-numeric: tabular-nums;">
            {% if score is not none %}
            {{ "%.2f" % frappe.utils.rounded(score, 2) }}
            {% endif %}
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>