<!-- variables: state_rankings, score_field, rank_field, delta_field, color_field -->

<table class="table-ranking">
  <thead>
    <tr>
      <th>State</th>
      <th>Rank</th>
      <th class="text-right">Score (out of 10)</th>
    </tr>
  </thead>
  <tbody>
    {% for d in state_rankings %}
    {% set score = d[score_field] %}
    {% set rank = d[rank_field] %}
    {% set delta = (d[delta_field] or 0) * -1 %}
    <tr data-state="{{ d.region_code }}">
      <td width="250">
        <a href="/state/{{ d.region_code }}">{{ d.state }}</a>
      </td>
      <td align="center">{{ rank }}</td>
      <td title="{{ '+' if delta > 0 else '' }}{{ delta }}">
        <div class="d-flex">
          <div class="d-flex align-items-center" style="width: 120px">
            <div class="rank-bar" style="
                width: {{ (score | flt) * 120 / 10 }}px;
                background-color: {{ d[color_field] }};
              "></div>
          </div>
          <div class="text-center" style="width: 16px;">
            <span>
              {% if delta == 0 %} &ndash; {% elif delta > 0 %} ↑ {% else %} ↓ {% endif %}
            </span>
          </div>
          <div class="pl-1" style="font-variant-numeric: tabular-nums;">
            {% if score is not none %}
            {{ "%.2f" % frappe.utils.rounded(score, 2) }}
            {% endif %}
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>