<!-- Input Select -->
{% macro input_select2(options, value=None, label=None, query=None, url=None, class=None) %}

{% macro select_options(options) %}
{% for option in options %}
{%- if option -%}
<sl-menu-item value="{{ option.value }}">{{ option.label }}</sl-menu-item>
{%- endif -%}
{% endfor %}
{% endmacro %}

<sl-select
    class="{{ resolve_class(class) }}"
    query="{{ query }}"
    placeholder="{{ label or '' }}"
    value="{{ value or '' }}"
    size="small"
    style="min-width: 160px;"
>
    {%- for option in options -%}
    {%- if option and option.group -%}
    <sl-menu-label>{{ option.group }}</sl-menu-label>
    {{ select_options(option.options) }}
    {%- else -%}
    {{ select_options([option]) }}
    {%- endif -%}
    {%- endfor -%}
</sl-select>
{% endmacro %}


<!-- Map with hover -->
{% macro map_with_hover(state_rankings, zoom_state=None, hover_html=None) %}

{%- with state_rankings=state_rankings, state=zoom_state, hover_html=hover_html -%}
{% include "templates/includes/map_with_hover.html" %}
{%- endwith -%}
{% endmacro %}

{% macro color_legend(class) %}
<div class="color-legend-container {{ resolve_class(class) }}">
    <div>Best</div>
    <div class="color-legend best ml-2" style="background-color: var(--best)"></div>
    <div class="color-legend middle" style="background-color: var(--middle)"></div>
    <div class="color-legend worst mr-2" style="background-color: var(--worst)"></div>
    <div>Worst</div>
</div>
{% endmacro %}