{% macro ijr_select() %}
<select class="ijr-select" name="ijr_number" onchange="window.location.href = this.value">
    {%- set ijr_options = [
        {'label': 'All IJRs', 'value' : 0} if (view == 'table' and pathname.startswith(('rankings', 'indicator'))) or (pathname.startswith('state') and active_tab == 'Overall') else null,
        {'label': 'IJR 1 (2019)', 'value' : 1},
        {'label': 'IJR 2 (2020)', 'value' : 2},
        {'label': 'IJR 3 (2022)', 'value' : 3},
    ] -%}
    {%- if pathname.startswith('methodology') -%}
    {%- set ijr_options = [{'label': 'All IJRs', 'value' : 0}] -%}
    {%- endif -%}
    {% for option in ijr_options %}
    {% if option %}
    <option value="{{ get_current_page_url(ijr_number=option.value) }}" {{ "selected" if option.value == ijr_number else "" }}>
        {{ option.label }}
    </option>
    {% endif %}
    {% endfor %}
</select>
{% endmacro %}

{% macro nav() %}
<div class="secondary-nav-items">
    <a class="secondary-nav-link {{ resolve_class({'active': pathname.startswith('rankings')}) }}" href="{{ rankings_url(defaults_only=1) }}">Rankings</a>
    <button onclick="changeStateDialog.show()" class="secondary-nav-link {{ resolve_class({'active': pathname.startswith('state/')}) }}">States</button>
    <button onclick="changeIndicatorDialog.show()" class="secondary-nav-link {{ resolve_class({'active': pathname.startswith('indicator/')}) }}">Indicators</button>
    <a class="secondary-nav-link {{ resolve_class({'active': pathname.startswith('methodology')}) }}" href="/methodology">Methodology</a>
    <div class="ml-auto">
        {%- if help_text -%}
        <button class="secondary-nav-link" onclick="howToReadDialog.show()">How to read this page?</button>
        {%- endif -%}
        <button class="secondary-nav-link" onclick="downloadsDialog.show()">Downloads</button>
        <button class="secondary-nav-link" onclick="shareDialog.show()">Share</button>
    </div>
</div>
{% endmacro %}

<div class="d-none d-sm-block secondary-nav">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-2">
                {{ ijr_select() }}
            </div>
            <div class="col">
                {{ nav() }}
            </div>
        </div>
    </div>
</div>

<div class="d-block d-sm-none">
    <div>{{ ijr_select() }}</div>
    <div class="mt-2">{{ nav() }}</div>
</div>

<sl-dialog label="Select State" id="changeStateDialog">
    {%- set states_by_cluster = get_states_by_cluster() -%}
    {% for cluster in states_by_cluster %}
    <div class="pillar-indicators">
        <label>{{ cluster }}</label>
        {% set states = states_by_cluster[cluster] %}
        {% for _state in states %}
        <a href="{{ state_url(state=_state.code) }}" class="{{ resolve_class({'active': state and state.code == _state.code }) }}">
            {{ _state.name }}
        </a>
        {% endfor %}
    </div>
    {% endfor %}
</sl-dialog>

<sl-dialog label="Select Indicator" id="changeIndicatorDialog">
    {%- set indicators_by_pillars_and_themes = get_indicators_by_pillars_and_themes() -%}
    {% for pillar, indicators_by_themes in indicators_by_pillars_and_themes.items() %}
    {% if not pathname.startswith('indicator/') or pillar == indicator.pillar %}
    <div class="pillar-indicators">
        <label>{{ pillar }}</label>
        {% for theme, indicators in indicators_by_themes.items() %}
        <div class="mb-2 ml-4">
            <label style="--sl-font-size-medium: 14px">{{ theme }}</label>
            {%- for _indicator in indicators -%}
            <a href="{{ indicator_url(indicator_id=_indicator.value) }}" class="{{ resolve_class({'active': indicator and indicator.name == _indicator.value }) }}">
                {{ _indicator.label }}
            </a>
            {%- endfor -%}
        </div>
        {%- endfor -%}
    </div>
    {% endif %}
    {% endfor %}
</sl-dialog>

<sl-dialog label="Downloads" id="downloadsDialog">
{%- for file in frappe.db.get_all('IJR File', {'published': 1, 'file': ('is', 'set')}, '*', order_by='`order` asc') -%}
<div class="mb-2">
    <a href="/api/method/ijr.api.download?file_id={{ file.name }}" download
        class="accent-link d-inline-flex align-items-center" style="gap: 0.5rem">
        {% if file.file.endswith('.csv') %}
        <sl-icon name="filetype-csv"></sl-icon>
        {% elif file.file.endswith('.pdf') %}
        <sl-icon name="filetype-pdf"></sl-icon>
        {% elif file.file.endswith('.xlsx') %}
        <sl-icon name="filetype-xlsx"></sl-icon>
        {% else %}
        <sl-icon name="file-earmark"></sl-icon>
        {% endif %}

        {{ file.title }}
    </a>
</div>
{%- endfor -%}
</sl-dialog>

{%- if help_text -%}
<sl-dialog label="How to read this page?" id="howToReadDialog">
    <div>
        {{ help_text }}
    </div>
</sl-dialog>
{%- endif -%}

<!-- share dialog with twitter and facebook share links -->
<sl-dialog label="Share" id="shareDialog">
    {%- set text = (title + '\n') | urlencode -%}
    {%- set url = get_current_url() | urlencode -%}
    {%- set links = [
        {'label': 'Share on Twitter', 'url': "https://twitter.com/intent/tweet?url={url}&text={text}".format(url=url, text=text), 'icon': 'twitter'},
        {'label': 'Share on Facebook', 'url': "https://www.facebook.com/sharer/sharer.php?u={url}".format(url=url), 'icon': 'facebook'},
        {'label': 'Share on WhatsApp', 'url': "https://wa.me/?text={text}".format(text=text+url), 'icon': 'whatsapp'},
    ] -%}
    {%- for link in links -%}
    <div class="mb-2">
        <a href="{{ link.url }}" target="_blank" class="accent-link d-inline-flex align-items-center" style="gap: 0.5rem">
            <sl-icon name="{{ link.icon }}"></sl-icon>
            {{ link.label }}
        </a>
    </div>
    {%- endfor -%}
</sl-dialog>
